@import 'nib'

html
	background url(../images/carina_bottom_1080.jpg) no-repeat center center fixed 
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover

.top
	background url(../images/carina_top_1080.jpg) no-repeat center center fixed 
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	width 100%
	height 100%
	position absolute
	z-index 0