@import 'nib'

@media ( max-width 767px )
	.container > div
		padding-top 5px

body
	color #fff
	font-family 'futura-pt'
	background #231A2F url(../images/nebula.jpg) no-repeat top center

p, h1, h2, h3, h4, h5, h6, ul, ol
	font-family 'futura-pt', sans-serif
	color white
	// margin 30px auto

a
	color #3DA489
	// text-shadow 1px 0 0 

.logo
	background url(../images/hyprtxt_stack.png) no-repeat center center
	width 300px
	height 300px
	margin 0 auto
	// -webkit-background-size cover
	// -moz-background-size cover
	// -o-background-size cover
	background-size cover

.center
	text-align center

.footer
	position relative
	width 100%

.col-sm-6
	background rgba( 0,0,0,0.3 )
	margin 15px 0


// body
// 	margin 0
// 	font-family 'futura-pt'
// 	background url(http://hyprtxt.com/images/nebula.jpg) no-repeat center center fixed
// 	-webkit-background-size cover
// 	-moz-background-size cover
// 	-o-background-size cover
// 	background-size cover

// .logo
// 	background url(http://hyprtxt.com/images/hyprtxt_stack.png) no-repeat center center
// 	width 300px
// 	height 300px
// 	margin 0 auto
// 	-webkit-background-size cover
// 	-moz-background-size cover
// 	-o-background-size cover
// 	background-size cover

// .page1
// 	position relative
// 	top 0

// .page1 p
// 	color white
// 	text-align center
// 	margin 30px auto

// .page2
// 	display none
// 	position absolute
// 	top 100vh
// 	height 100vh
// 	width 100%
// 	background white
// 	padding 30px
// 	color c5c4c5
