- bypass.stylesheets.push('./css/hold.css')
doctype html
html
	include ./jade/head.jade
	body
		.push-container
			.logo
			h1 holding this page for something awesome
		.top
		include ./jade/foot.jade