doctype html
html
	include ./jade/head.jade
	body
		.navbar.navbar-static-top
			.logo Hyprxt
			ul.navigation
				li
		.container
			.col-sm-push-3.col-sm-6
				div
					h1 hello world
					//- include:markdown ../readme.md
		include ./jade/foot.jade
