doctype html
html
	include ./jade/head.jade
	body
		.navbar.navbar-inverse.navbar-static-top(role='navigation')
			.container
				a.navbar-brand(href='/') Say Sushi Maricopa
				ul.nav.navbar-nav
					li
						a About
					li
						a Menu
					li
						a Location/Directions
		.container.hero
			h1 Say Sushi
			p Quality Sushi in Maricopa, AZ
			p
				a(href='http://www.yelp.com/biz/say-sushi-maricopa') Review us on Yelp
				| ,
				a(href='https://www.facebook.com/pages/Say-Sushi/123617667694533') Follow us on Facebook
		.container.menu
			.col-sm-12
				h1 Menu
				hr
			.col-sm-3
				h3 Sushi Nigiri
				p 2 pieces per order

				p Tuna (Maguro)
					span.price $ 4.50
				p Salmon (Sake)
					span.price $ 4.50
				p Albacore (Shiro)
					span.price $ 4.50
				p Yellowtail
					span.price $ 5.50
				p Smoked Salmon
					span.price $ 4.50
				p Snapper (Dai-Dai)
					span.price $ 4.00
				p Fresh Water Eel
					span.price $ 5.50
				p Mackerel (Saba)
					span.price $ 4.50
				p Sweet Shrimp
					span.price $ 6.50
				p Shrimp (Ebi)
					span.price $ 4.00
				p Octopus (Tako)
					span.price $ 4.50
				p Scallop Mix
					span.price $ 4.50
				p Crab (Kani)
					span.price $ 4.50
				p Squid (Ika)
					span.price $ 4.00
				p Surf Clam
					span.price $ 4.50
				p Smelt Egg (Masago)
					span.price $ 4.00
				p Egg (Tamago)
					span.price $ 4.00
				p Flying Fish Egg
					span.price $ 5.50
				p Salmon Egg (Ikura)
					span.price $ 5.50
				p Bean Curd (Inari)
					span.price $ 3.50
			.col-sm-3
				h3 Sashimi
				p 7 pieces per order

				p Albacore
					span.price $ 9.95
				p Octopus
					span.price $ 9.95
				p Salmon
					span.price $ 9.95
				p Snapper
					span.price $ 9.95
				p Tuna
					span.price $ 10.95
				p Yellowtail
					span.price $ 10.95
				p &nbsp;
				h3 Roll (Maki)
				p &nbsp;
				p Avocado
					span.price $ 4.00
				p Cucumber
					span.price $ 4.00
				p Asparagus
					span.price $ 4.00
				p California
					span.price $ 4.95
				p Salmon
					span.price $ 4.50
				p Tuna
					span.price $ 5.50
				p Salmon Skin
					span.price $ 5.95
				p Vegetable
					span.price $ 5.95
				p Yellowtail
					span.price $ 5.50
				p Spicy Crab
					span.price $ 5.95
				p Spicy Tuna
					span.price $ 5.95
				p Futo Maki
					span.price $ 5.95
				p Philly
					span.price $ 6.95
				p Spicy Salmon
					span.price $ 5.95
				p Spicy Scallop
					span.price $ 5.95
				p Eel
					span.price $ 6.95
				p Spicy Yellowtail
					span.price $ 5.95


			.col-sm-6.pull-right
				h3 Special Rolls
				p &nbsp;

				p Baked Salmon
					span.price $ 7.95
				p.description California roll with baked salmon on&nbsp;top

				p Baked Spicy Lobster
					span.price $ 10.95
				p.description California roll with spicy baby lobster surrounded by&nbsp;fire

				p Calamari
					span.price $ 9.95
				p.description Crab meat, avocado, cucumber, with calamari on&nbsp;top

				p Popcorn Shrimp
					span.price $ 10.95
				p.description Tempura battered shrimp with onion crunch on top of california&nbsp;roll

				p Crunch
					span.price $ 8.95
				p.description Crab meat, avocado, shrimp tempura, cucumber, crunch on&nbsp;top

				p Philly Crunch
				span.price $ 9.95
				p.description Shrimp tempura, crab meat, cucumber, avocado, cream cheese with crunch on&nbsp;top

				p Hot Night
				span.price $ 9.95
				p.description Crab meat, avocado, cucumber, shrimp tempura with spicy tuna on&nbsp;top

				p Shrimp Killer
				span.price $ 9.95
				p.description Crab meat, avocado, cucumber, shrimp tempura with shrimp and avocado on&nbsp;top

				p Sunshine
					span.price $ 10.95
				p.description Crab mix, avocado, cucumber, asparagus, cooked shrimp with fresh salmon on&nbsp;top

				p Spicy John Wayne
					span.price $ 7.95
				p.description Tuna, salmon, yellowtail and crab meat mixed in spicy&nbsp;sauce

				p 911
					span.price $ 10.95
				p.description Spicy tuna, fresh salmon, crab mix, avocado, cream cheese, deep&nbsp;fried

				p Spicy Rainbow
					span.price $ 10.95
				p.description Spicy tuna, cucumber with tuna, salmon, snapper, shrimp, and avocado on&nbsp;top

				p Caterpillar
					span.price $ 9.95
				p.description Fresh water eel, crab meat, cucumber and avocado on&nbsp;top

				p Dragon
					span.price $ 10.95
				p.description Crab meat, avocado, cucumber with fresh water eel and avocado on&nbsp;top

				p Hawaiian
					span.price $ 9.95
				p.description Crab meat, avocado, cucumber with fresh tuna, avocado on&nbsp;to

				p Las Vegas
					span.price $ 7.95
				p.description Cream cheese, avocado, eel, crabstick, deep&nbsp;fried

				p Rainbow
					span.price $ 9.95
				p.description Tuna, salmon, avocado and shrimp over california&nbsp;roll

				p Alaska
					span.price $ 9.95
				p.description Crab mix, cucumber, avocado, cream cheese with sizzling salmon and onion crunch on&nbsp;top

				p Spider
					span.price $ 8.95
				p.description Crab meat, avocado, cucumber, deep fried soft shell crab,&nbsp;gobo

				p Tootsie
					span.price $ 7.95
				p.description Crab meat, avocado, cucumber, cooked shrimp with tempura flakes on&nbsp;top

				p Tiger Shrimp
					span.price $ 10.95
				p.description Shrimp tempura, crab mix, avocado, cream cheese with fresh salmon on&nbsp;top

				p Shrimp Tempura
					span.price $ 7.95
				p.description Shrimp tempura, crab meat, cucumber, avocado with tempura flakes on&nbsp;top

				p Insanity
					span.price $ 8.95
				p.description Spicy crab, jalapeno, cucumber with spicy crab, jalapeno on&nbsp;top

				p Fire Dragon
					span.price $ 10.95
				p.description Shrimp tempura, spicy tuna, cucumber with fresh tuna and jalapeno on&nbsp;top

				p Zesty Salmon
					span.price $ 9.95
				p.description Spicy crab, cucumber with fresh salmon, sliced lemon on top with ponzu&nbsp;dressing

				p Tokyo Roll
					span.price $ 7.95
				p.description Deep fried jalapeno, spicy crab, avocado, cucumber with cooked shrimp on&nbsp;top

				p Bonzai Roll
					span.price $ 9.95
				p.description Spicy crab, cucumber, avocado with spicy tuna and spicy salmon on&nbsp;top

				p Ninja
					span.price $ 8.95
				p.description Crab mix, avocado, cream cheese with salmon and masago on&nbsp;top

				p Fire Cracker
					span.price $ 7.95
				p.description Jalapeno, with spicy crab, cream cheese, deep&nbsp;fried

				p Baked Dynamite
					span.price $ 9.95
				p.description Crab meat, cucumber, avocado with baked crab mix, scallops, onion on&nbsp;top

				p Crab Tempura
				span.price $ 8.95
				p.description Tempura crab stick, avocado, cream cheese with spicy crab mix and crunch on&nbsp;top

				p Cherry Blossom
					span.price $ 9.95
				p.description Fresh salmon, avocado with fresh tuna on&nbsp;top

				p Albacore Lover
					span.price $ 8.95
				p.description Cucumber and crunchy mayo albacore mix with albacore on&nbsp;top

				p Kiss Me
					span.price $ 10.95
				p.description Crab mix, avocado, cucumber, cream cheese with cooked shrimp and masago on&nbsp;top

				p Signature
					span.price $ 10.95
				p.description Crab mix, spicy tuna, shrimp tempura with eel, seared tuna, masago and crunch on&nbsp;top

				p Red Dragon
					span.price $ 10.95
				p.description Eel, crab meat, cucumber with spicy tuna on&nbsp;top

				p Hungry
					span.price $ 9.95
				p.description Spicy tuna, avocado, cream cheese, deep&nbsp;fried

				p Crab Delight
					span.price $ 8.95
				p.description Shrimp tempura, cucumber with spicy crab on&nbsp;top

				p Titanic
					span.price $ 11.95
				p.description Spicy crab mix, fresh fish, deep fried soft shell crab with seared albacore tuna on&nbsp;top

				p Crispy Spicy Tuna
					span.price $ 8.95
				p.description Crispy rice, spicy tuna, sliced jalapeno on&nbsp;top

				hr



				h3 Entrees
				p &nbsp;

				p Deluxe Dinner Bento
					span.price $ 16.95
				p.description Sashimi &amp; sushi, mixed tempura, gyoza, egg roll, steam rice, cucumber salad, choice of salmon, chicken, or beef teriyaki -Upgrade steam rice to spicy tuna or california roll for $2&nbsp;00

				p Tempura Dinner
					span.price $ 11.95
				p.description Tempura mix, egg rolls, with steam rice and&nbsp;salad

				p Teriyaki Dinner
					span.price $ 12.95
				p.description Salad, mixed tempura, with steam rice Choice of chicken, beef, or&nbsp;salmon

				p Chicken Katsu
					span.price $ 12.95
				p.description Panko battered chicken, deep fried, served with salad and&nbsp;rice

				p Tuna Don
					span.price $ 15.95
				p.description Tuna seasoned with house sauce over rice and garnished with vegetables and&nbsp;wasabi

				p Unagi Don
					span.price $ 16.95
				p.description Grilled eel over&nbsp;rice

				p Chirashi
					span.price $ 15.95
				p.description Assorted sashimi over rice with tamago, kani, and&nbsp;gobo


				hr


				h3 Salad
				p &nbsp;

				p House Salad
					span.price $ 5.95
				p.description Mixed greens with ginger&nbsp;dressing

				p Cucumber Salad
					span.price $ 3.95
				p.description Seasoned sliced cucumber&nbsp;salad

				p Octopus Sunomono
					span.price $ 6.95
				p.description Seasoned cucumber salad topped with&nbsp;octopus

				p Chicken Salad
					span.price $ 7.95
				p.description Mixed greens with grilled chicken, with house&nbsp;dressing

				p Salmon Skin Salad
					span.price $ 6.95
				p.description Grilled salmon skin on bed of greens with house&nbsp;dressing

				p Spicy Tuna Salad
					span.price $ 8.95
				p.description Spicy Tuna and Cucumber on bed of mixed&nbsp;greens

				p Sashimi Salad
					span.price $ 10.95
				p.description Chef's choice of sashimi served with mixed vegetables, with ginger&nbsp;dressing

				p Calamari Tempura Salad
					span.price $ 8.95
				p.description Tempura style calamari served on a bed of mixed greens with house&nbsp;dressing

				p Squid Salad
					span.price $ 5.95
				p.description Seasoned squid with marinated&nbsp;vegetables

				p Seaweed Salad
					span.price $ 5.95
				p.description Seasoned seaweed with marinated&nbsp;vegetables

				p Seared Ahi Salad
					span.price $ 10.95
				p.description Seared ahi tuna over mixed greens and jalapeno, served with ginger&nbsp;dressing

				p Fresh Avocado Salad
					span.price $ 7.95
				p.description Mixed greens with avocado, crispy gyoza chips, with ginger&nbsp;dressing

				p Fresh Avocado Salad With Chicken
					span.price $ 9.95
				p.description Mixed greens with avocado, chicken, crispy gyoza chips, with ginger&nbsp;dressing

				p Fresh Avocado Salad With Shrimp
					span.price $ 10.95
				p.description Mixed greens with avocado, shrimp, crispy gyoza chips, with ginger&nbsp;dressing

				hr




			.col-sm-6.pull-left
				h3 Appetizers
				p &nbsp;

				p Agedashi Tofu
					span.price $ 5.95
				p.description Lightly fried tofu in tempura&nbsp;sauce

				p Baked Green Mussels
					span.price $ 7.50
				p.description (4pc.) Baked mussels topped with masago and green&nbsp;onion

				p Calamari
					span.price $ 7.95
				p.description Deep fried calamari with spicy&nbsp;mayo

				p Coconut Shrimp
					span.price $ 8.95
				p.description Coconut battered shrimp, lightly&nbsp;fried

				p Edamame
					span.price $ 3.95
				p.description Steamed &amp; salted&nbsp;soybeans

				p Egg Rolls
					span.price $ 6.95
				p.description Deep fried vegetable egg rolls with sweet chili&nbsp;sauce

				p Garlic Soy Edamame
					span.price $ 4.50
				p.description Lightly drizzled with garlic soy&nbsp;sauce

				p Gyoza
					span.price $ 5.95
				p.description (6pc.) Pork&nbsp;dumpling

				p Hawaiian Poki
					span.price $ 10.95
				p.description Cubed tuna with vegetable &amp; house spicy sauce. Not spicy is&nbsp;available.

				p Lettuce Wraps
					span.price $ 8.95
				p.description Chicken &amp; vegetables in house special sauce, served with lettuce&nbsp;leaves

				p Monkey Balls
					span.price $ 6.95
				p.description (6 pc.) Stuffed mushroom with spicy crab meat, cream cheese-deep&nbsp;fried

				p Say Jalapeno
					span.price $ 7.50
				p.description Stuffed jalapeno with cream cheese, spicy tuna-deep&nbsp;fried

				p Soft Shell Crab
					span.price $ 8.95
				p.description Lightly fried soft shell crab with mixed&nbsp;greens

				p Tataki Albacore
					span.price $ 8.95
				p.description (6 pc.) Seared albacore tuna sashimi with ginger&nbsp;dressing

				p Tuna Capriccio
					span.price $ 10.95
				p.description (7 pc.) Seared ahi tuna with jalapeno, served with garlic ponzu&nbsp;dressing

				p Yellowtail Jalapeno Yuzu
					span.price $ 11.95
				p.description Yellowtail sashimi with thin slices of jalapeno, served with yuzu&nbsp;dressing

				p Salmon or Hamachi Kama
					span.price $ 7.50
				p.description Grilled salmon or yellowtail collar with ponzu&nbsp;sauce

				p Dynamite Shrimp
					span.price $ 7.95
				p.description (5 pc.) Panko battered shrimp with sweet chili sauce, deep&nbsp;fried

				p Tempura Shrimp
					span.price $ 7.95
				p.description (5 pc.) Tempura battered and deep fried&nbsp;shrimps

				p Tempura Vegetables
					span.price $ 6.95
				p.description (6 pc.) Tempura battered and deep fried&nbsp;vegetables

				p Tempura Mix
					span.price $ 7.95
				p.description Shrimp (2 pc.), Vegetables (4 p&nbsp;.)


				hr


			.col-sm-6.pull-left
				h3 Lunch Specials
				p Lunch is available until 3pm

				p Lunch Sushi Combo
					span.price $ 10.95
				p.description Sushi (5pc.) with california crunch&nbsp;roll

				p Lunch Sashimi combo
					span.price $ 12.50
				p.description Sashimi (9pc.) with spicy tuna&nbsp;roll

				p Lunch Seared Ahi Tuna Salad
					span.price $ 8.50
				p.description Seared ahi tuna over mixed greens with house&nbsp;dressing


				hr


			.col-sm-6.pull-left
				h3 Rice Bowl
				p &nbsp;

				p Chicken Teriyaki Bowl
					span.price $ 8.95
				p.description Grilled chicken with vegetables over white&nbsp;rice

				p Spicy Chicken Bowl
					span.price $ 8.95
				p.description Grilled chicken with vegetables over white rice with spicy&nbsp;sauce

				p Beef Bowl
					span.price $ 9.95
				p.description Teriyaki beef with vegetables over white&nbsp;rice

				p Fried Rice
					span.price $ 7.95
				p.description Chicken Fried&nbsp;Rice
				p
					span.price $ 8.95
				p.description Shrimp Fried&nbsp;Rice
				p
					span.price $ 6.95
				p.description Veggie Fried&nbsp;Rice

				hr


			.col-sm-6.pull-left
				h3 Noodles
				p &nbsp;

				p Vegetable Yaki Udon
					span.price $ 6.95
				p.description Pan fried noodles with&nbsp;vegetables

				p Chicken Yaki Udon
					span.price $ 8.95
				p.description Pan fried noodles with chicken and&nbsp;vegetables

				p Shrimp Yaki Udon
					span.price $ 9.95
				p.description Pan fried noodles with shrimp and&nbsp;vegetables

				p Udon Combo
					span.price $ 10.95
				p.description Japanese noodle soup, choice of tempura mix, california roll, or spicy tuna&nbsp;roll

				hr


			.col-sm-6.pull-right
				h3 Salad
				p &nbsp;

				p House Salad
					span.price $ 5.95
				p.description Mixed greens with ginger&nbsp;dressing

				p Cucumber Salad
					span.price $ 3.95
				p.description Seasoned sliced cucumber&nbsp;salad

				p Octopus Sunomono
					span.price $ 6.95
				p.description Seasoned cucumber salad topped with&nbsp;octopus

				p Chicken Salad
					span.price $ 7.95
				p.description Mixed greens with grilled chicken, with house&nbsp;dressing

				p Salmon Skin Salad
					span.price $ 6.95
				p.description Grilled salmon skin on bed of greens with house&nbsp;dressing

				p Spicy Tuna Salad
					span.price $ 8.95
				p.description Spicy Tuna and Cucumber on bed of mixed&nbsp;greens

				p Sashimi Salad
					span.price $ 10.95
				p.description Chef's choice of sashimi served with mixed vegetables, with ginger&nbsp;dressing

				p Calamari Tempura Salad
					span.price $ 8.95
				p.description Tempura style calamari served on a bed of mixed greens with house&nbsp;dressing

				p Squid Salad
					span.price $ 5.95
				p.description Seasoned squid with marinated&nbsp;vegetables

				p Seaweed Salad
					span.price $ 5.95
				p.description Seasoned seaweed with marinated&nbsp;vegetables

				p Seared Ahi Salad
					span.price $ 10.95
				p.description Seared ahi tuna over mixed greens and jalapeno, served with ginger&nbsp;dressing

				p Fresh Avocado Salad
					span.price $ 7.95
				p.description Mixed greens with avocado, crispy gyoza chips, with ginger&nbsp;dressing

				p Fresh Avocado Salad With Chicken
					span.price $ 9.95
				p.description Mixed greens with avocado, chicken, crispy gyoza chips, with ginger&nbsp;dressing

				p Fresh Avocado Salad With Shrimp
					span.price $ 10.95
				p.description Mixed greens with avocado, shrimp, crispy gyoza chips, with ginger&nbsp;dressing


				hr


			.col-sm-6.pull-right
				Entrees
				p &nbsp;

				p Deluxe Dinner Bento
					span.price $ 16.95
				p.description Sashimi &amp; sushi, mixed tempura, gyoza, egg roll, steam rice, cucumber salad, choice of salmon, chicken, or beef teriyaki -Upgrade steam rice to spicy tuna or california roll for $2&nbsp;00

				p Tempura Dinner
					span.price $ 11.95
				p.description Tempura mix, egg rolls, with steam rice and&nbsp;salad

				p Teriyaki Dinner
					span.price $ 12.95
				p.description Salad, mixed tempura, with steam rice Choice of chicken, beef, or&nbsp;salmon

				p Chicken Katsu
					span.price $ 12.95
				p.description Panko battered chicken, deep fried, served with salad and&nbsp;rice

				p Tuna Don
					span.price $ 15.95
				p.description Tuna seasoned with house sauce over rice and garnished with vegetables and&nbsp;wasabi

				p Unagi Don
					span.price $ 16.95
				p.description Grilled eel over&nbsp;rice

				p Chirashi
					span.price $ 15.95
				p.description Assorted sashimi over rice with tamago, kani, and&nbsp;gobo


				hr


			.col-sm-6.pull-left
				h3 Sushi &amp; Sashimi Specials
				p &nbsp;

				p Matsu Sashimi
					span.price $ 50.00
				p.description 30 pieces of assorted&nbsp;sashimi

				p Take Sashimi
					span.price $ 35.00
				p.description 20 pieces of assorted&nbsp;sashimi

				p Ume Sashimi
					span.price $ 25.00
				p.description 15 pieces of assorted&nbsp;sashimi

				p Nami Sashimi
					span.price $ 18.00
				p.description 10 pieces of assorted&nbsp;sashimi

				p Say Sushi A
					span.price $ 20.00
				p.description 12 pieces of assorted&nbsp;sushi

				p Say Sushi B
					span.price $ 15.00
				p.description 8 pieces of assorted&nbsp;sushi

				p Sashimi And Sushi
					span.price $ 38.00
				p.description 9 pieces of assorted sashimi, 8 pieces of assorted sushi, 8 pieces of spicy tuna&nbsp;roll

				hr


			.col-sm-6.pull-left
				h3 Party Platters Available
				p Please plan accordingly, these platters take time to create.

				p Say A
					span.price $ 99.95
				p.description 40 pieces sushi, 13 pieces special roll, 8 pieces basic&nbsp;roll

				p Say B
					span.price $ 79.95
				p.description 35 pieces sushi, 10 pieces special roll, 8 pieces basic&nbsp;roll

				p Say C
					span.price $ 69.95
				p.description 30 pieces sushi, 13 pieces special roll, 8 pieces basic&nbsp;roll

				p Say D
					span.price $ 59.95
				p.description Basic roll platter, 80 pieces 10 rolls choice from basic roll&nbsp;menu






			.col-sm-6.pull-left
				h3 Lunch Bento Combination
				p Lunch Available Until 3 pm

				p Lunch A
					span.price $ 10.95
				p.description Sashimi, Sushi, Shrimp Tempura Roll, Tempura Mix,&nbsp;Salad

				p Lunch B
					span.price $ 9.95
				p.description Sushi, California Roll, Chicken Teriyaki, Gyoza,&nbsp;Salad

				p Lunch C
					span.price $ 9.95
				p.description Sushi, Spicy Tuna Roll, Beef Teriyaki, Gyoza,&nbsp;Salad

				p Lunch D
					span.price $ 9.95
				p.description Sushi, California Roll, Salmon Teriyaki, Tempura Mix,&nbsp;Salad

				p Lunch E
					span.price $ 9.95
				p.description Sushi, Shrimp Tempura Roll, Gyoza, Chicken Katsu,&nbsp;Salad

				hr

		.container
			.col-sm-push-3.col-sm-6
				div
					h1 hello world
					//- include:markdown ../readme.md
		include ./jade/foot.jade
